@import './root.css';

.nav {
    width: 100vw;
    position: fixed;
    top: -1px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-blue);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-evenly;
    line-height: 50px;
}

.nav-link {
    padding: 10px 0 10px 0;
    color: var(--blue-white);
}

.nav-link:hover {
    transform: scale(1.1);
}

.logo-container {
    width: 150px;
    padding-top: 10px;
}

.logo-img {
    width: 150px;
    margin: auto;
}