@import './root.css';

.card-group {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.card-item {
    width: 15rem;
}

.card-img-container {
    width: 12rem;
    margin: auto;
}

.card-img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--light-blue);
}