@import '../base/root.css';

.card-group {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.card-item {
    width: 15rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 3px 3px 10px var(--dark-blue);
}

.card-img-container {
    width: 12rem;
    margin: auto;
}

.card-img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--light-blue);
    margin-top: 1rem;
    box-shadow: 3px 3px 10px var(--dark-blue);
}