@import '../base/root.css';


.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    text-align: start;
    margin-top: 8rem;
}

.blog-container {
    display: flex;
    flex-direction: column;
}

.blog-header {
    display: flex;
    flex-direction: column;
}

.blog-img-container {
    width: 90%;
    padding: 1rem;
    margin: auto;
}

.blog-img {
    width: 100%;
}

.blog-title {
    color: var(--dark-blue);
    font-size: var(--fs-2);
    text-align: start;
    padding: 1rem;
    font-weight: 600;
}

.blog-text {
    line-height: 30px;
    text-align: start;
    padding: 30px;
}

.featured-link {
    line-height: 30px;
    text-align: start;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    margin-top: 1rem;
}

.featured-link:hover {
    transform: scale(1.08);
}

.featured-link-text:hover {
    color: var(--light-blue);
}

.side-bar {
    margin-top: 6rem;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 1px solid gray;
}

.search-bar-container {
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
    cursor: pointer;
}

.search-bar {
    line-height: 30px;
    width: 90%;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 10px var(--dark-blue);
}
