@import '../base/root.css';

/* sign up page */
.signup-body {
    background: url(../../images/cat-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signup-container {
    height: 55vh;
    max-width: 1200px;
    margin: 8rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
}

.signup-form-container {
    min-width: 400px;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--green-white);
    border-top-left-radius: 50px;
    border-top: 5px solid var(--dark-blue);
    border-bottom-right-radius: 50px;
    border-bottom: 5px solid var(--dark-blue);
    box-shadow: 5px 5px 20px var(--blue-white);
}

.signup-form-container:first-child {
    padding-top: 3rem;
}

.signup-container:hover {
    opacity: 1;
}

.signup-form {
    min-width: 300px;
    line-height: 24px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue)
}