@import './root.css';

/* home page */

.hero-container {
    background-color: var(--dark-blue);
    height: 50vh;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-text-container {
    padding: 5rem;
}

.hero-text-container button {
    float: left;
    margin-top: 3rem;
}

.hero-img-container {
    filter: drop-shadow(5px 5px 0px white);
}

.hero-img {
    width: 30rem;
}

.plan-container {
    display: flex;
    justify-content: center;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.plan-title {
    padding: 35px;
    margin: 3rem 0 3rem 0;
}



.testimonial-container {
    max-width: 1200px;
    background-color: var(--blue-white);
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
}

.author {
    text-align: end;
    margin: 0 8rem 3rem 0;
}

.cta-container {
    background-color: var(--light-blue);
    max-width: 1200px;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem auto;
}
