@import './root.css';

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

body {
    background-color: var(--green-white);
}

a {
    color: var(--dark-blue);
    cursor: pointer;
}

header {
    background-color: var(--dark-blue);
}

html {
    scroll-behavior: smooth;
}