@media only screen and (max-width: 600px) and (orientation: portrait) {

    /* For mobile: */
    /* home page  */
    .hero-container {
        position: relative;
        height: 125vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .hero-img {
        margin-top: 10rem;
        margin-bottom: -5rem;
    }

    .nav-bar {
        width: 15rem;
    }

    .plan {
        margin-top: 6rem;
    }

    .card-group {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .card-item {
        width: 80vw;
        padding-bottom: 2rem;
    }

    .card-img-container {
        width: 60vw;
        margin: auto;
    }

    .testimonial-text {
        font-size: 2rem;
        width: 25rem;
    }

    .cta-container {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
    }

    /* blog page  */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 8rem;
    }

    .blog-container img {
        width: 80%;
    }

    .search-bar-container {
        width: 70%;
    }

    /* sign up page  */
    .signup-form-container {
        min-width: 350px;
        height: 65vh;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}


@media only screen and (max-width: 768px) and (min-width: 601px) and (orientation: portrait) {

    /* For tablet: */
    /* home page  */
    .hero-container {
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }


    .hero-img {
        margin-top: 10rem;
    }

    .nav-bar {
        width: 15rem;
    }

    .plan {
        margin-top: 6rem;
    }

    .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }

    .card-item {
        width: 40vw;
        padding-bottom: 2rem;
    }

    .card-img-container {
        width: 35vw;
        margin: auto;
    }

    .testimonial-text {
        font-size: 2rem;
        width: 25rem;
    }

    .cta-container {
        height: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    /* blog page  */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 8rem;
    }

    .blog-container img {
        width: 80%;
    }

    .search-bar-container {
        width: 70%;
    }

    /* sign up page  */
    .signup-form-container {
        height: 65vh;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

}

@media only screen and (max-width: 1279px) and (min-width: 769px) and (orientation: portrait) {

    /* For bigger tablet: */
    /* home page  */
    .hero-container {
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .hero-img {
        width: 80vw;
        margin-top: 5rem;
    }

    .nav-bar {
        width: 15rem;
    }

    .plan {
        margin-top: 6rem;
    }

    .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }

    .card-item {
        width: 40vw;
        padding-bottom: 2rem;
    }

    .card-img-container {
        width: 35vw;
        margin: auto;
    }

    .testimonial-text {
        font-size: 2rem;
        width: 30rem;
    }

    .cta-container {
        height: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    /* blog page  */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 8rem;
    }

    .blog-container img {
        width: 80%;
    }

    .search-bar-container {
        width: 70%;
    }

    /* sign up page  */
    .signup-form-container {
        height: 65vh;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

}


@media only screen and (max-width: 1280px) and (orientation: landscape) {
    .hero-container {
        position: relative;
        top: 150px;
        height: 160vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }

    .hero-img {
        margin-top: -5rem;
        width: 80vw;
    }

    header {
        height: 180vh;
    }

    .blog-header {
        height: auto;
    }

    .signup-header {
        height: auto;
    }
}