@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300&display=swap');

/* font-family: 'Roboto', sans-serif; */
:root {
    --font-family: 'Roboto', sans-serif;
    --font-weight: 300;
    --fs-1: 48px;
    --fs-2: 36px;
    --fs-3: 24px;
    --fs-4: 18px;
    --fs-5: 16px;
    --blue-white: #E5E7EB;
    --green-white: #F9FAF8;
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
}